@import "../Styles/Variables.scss";

.info-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 24px;
}

.album-img {
	width: 250px;
	height: 250px;
	margin-right: 18px;
	border-radius: $border-radius-sharp;
	object-fit: cover;
}

@media (max-width: 700px) {
	.album-artist span {
		font-size: 0;
	}
	.album-img {
		width: 120px;
		height: 120px;
	}
	.album-title,
	.album-artist {
		font-size: 1.5rem !important;
	}
}

@media (max-width: 460px) {
	.info-container {
		flex-direction: column !important;
	}
	.album-img {
		width: 100%;
		height: auto;
		margin-right: 0;
		margin-bottom: 18px;
	}
}

.album-page-title {
	font-size: 2.4rem;
	font-weight: bold;
}

.album-page-artist {
	font-size: 1.6rem;
	display: flex;
	font-weight: 400;
	align-items: center;
}
.album-page-artist span {
	margin-right: 4px;
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	row-gap: 14px;
	column-gap: 14px;
	margin-top: 14px;
	flex-wrap: wrap;
}

.song-count {
	margin-left: 4px;
	opacity: 0.5;
	font-size: 1.1rem;
}

.songs-text {
	font-size: 1.5rem;
	font-weight: 400;
	padding-left: 24px;
	margin-top: 18px;
	margin-bottom: 6px;
}

.album-icon {
	background: none !important;
	border: none !important;
	font-size: 2rem;
}

.album-info {
	width: 100%;
}
