@import "../Styles/Variables.scss";

.buttons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 24px;
	column-gap: 14px;
}

.buttons button,
.buttons a {
	width: 100%;
	text-align: center;
}

.download-container {
	width: 49%;
	padding: 14px;
	height: fit-content;
	position: relative;

	transition: background $background-transition;
	border-radius: $border-radius;
}

@media (max-width: 701px) {
	.download-container {
		width: 100%;
	}
}
.download-container:hover {
	background-color: transparentize($color: $grey, $amount: 0.8);
}

.download-info-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 16px;
}

.song-info-main {
	font-size: 1.3rem;
	font-weight: 500;
	opacity: 90%;
}

.song-info-img {
	height: 70px;
	width: 70px;
	display: inline;
	object-fit: cover;
	border-radius: $border-radius-sharp;
}

.song-info-alt {
	font-size: 1rem;
	font-weight: 500;
	opacity: 50%;
}

.downloads-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	height: fit-content;
	width: 100%;
	padding: 0 15px;
	column-gap: $button-padding;
	row-gap: $button-padding;
	margin-top: 14px;
}

.download-progress-outer {
	height: 4px;
	width: 100%;
	overflow: hidden;
	border-radius: $border-radius-alt;
}

.download-progress-inner {
	height: 100%;
	background-color: $purple;
}

.download-percentage {
	font-size: 0.8rem;
	font-weight: 500;
	opacity: 50%;
}

.download-status-container {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 8px;
}

.download-status {
	font-size: 0.9rem;
	font-weight: 500;
	opacity: 80%;
}
