@import "../Styles/Variables.scss";
@import "../Components/Nav.scss";
$player-height: 100px;

$spacing: 60px;
.player {
	height: $player-height;
	width: calc(100vw - $navigation-size - $spacing);
	flex-shrink: 0;
	padding: $button-padding;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: transparentize($text-color, 0.98);
	position: fixed;
	bottom: calc($spacing / 2);
	right: calc($spacing / 2);

	backdrop-filter: blur(90px);
	transform: translateZ(0) scaleZ(1) perspective(1);
	border-radius: $border-radius;

	z-index: 50000;
	overflow: hidden;

	box-shadow: 0 0 25px transparentize($color: $black, $amount: 0.6);
}

.progress-outer {
	height: 4px;
	width: 100%;
	background-color: transparentize($text-color, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.progress-inner {
	content: "";
	height: 4px;
	width: attr(data-percentage);
	background-color: $highlight;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;

	transition: width 0.16s ease-out;
}

@media (max-width: 1100px) {
	.player {
		width: calc(100vw - $navigation-size-small - $spacing);
		height: 90px;
	}
	.player-icon {
		font-size: 20px;
		padding: 4px !important;
	}
	.player-icon-small {
		font-size: 24px !important;
	}
	.player-section {
		column-gap: 2px !important;
	}
	.player-song-image {
		width: 60px !important;
		height: 60px !important;
	}
	.player-song-title {
		font-size: 0.8rem !important;
		margin-left: 8px;
	}
	.player-song-artist {
		font-size: 0.7rem !important;
		margin-left: 8px;
	}
}

@media (max-width: 500px) {
	.player {
		width: calc(100vw - $spacing);
	}
}

.player-layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding-bottom: calc($player-height + $spacing / 2);
	width: 100%;
	overflow: auto;
}

.page-container {
	overflow: auto;
	width: 100%;
}

.player-section {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 4px;
	width: fit-content;
}

.player-icon {
	font-size: 40px;
	opacity: 60%;
	cursor: pointer;
	transition: opacity $background-transition, background $background-transition;
	background: transparent;
	border: transparent;

	border-radius: 100%;
	padding: 6px;

	width: fit-content;
	height: fit-content;
}

.player-icon-small {
	font-size: 30px;
}

.player-icon-extra-small {
	font-size: 20px;
}

.player-icon-color {
	color: $highlight;
	opacity: 1 !important;
}

.player-icon:hover,
.player-icon:focus {
	opacity: 100%;
	background-color: transparentize($color: $text-color, $amount: 0.95);
}

.player-info {
	width: 66%;
	justify-content: flex-start;
}

.player-info-text {
	display: flex;
	flex-direction: column;

	width: calc(100% - $player-height);
	flex-shrink: 1;

	justify-content: center;
	align-items: flex-start;
}

.player-song-title {
	font-size: 1.3rem;
	font-weight: 500;
	max-height: 70%;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
	margin-left: 12px;
	text-overflow: ellipsis;
}

.player-song-artist {
	font-size: $text-size-1;
	font-weight: 400;
	opacity: 60%;
	max-height: 30%;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
	margin-left: 12px;
	text-overflow: ellipsis;
}

.player-song-image {
	width: calc($player-height - $button-padding * 2);
	height: calc($player-height - $button-padding * 2);
	border-radius: $border-radius-sharp;
}

.progress-outer-hover {
	filter: brightness(1.1);
}

.progress-tracker-inactive {
	opacity: 0;
	transform: scale(0.7);
}

.progress-tracker {
	position: fixed;
	transition: transform 0.15s ease-out, opacity 0.15s;
	filter: blur(0px);
	-webkit-font-smoothing: subpixel-antialiased;
	backface-visibility: hidden;
	background-color: transparentize($color: $background, $amount: 0.2);
	backdrop-filter: brightness(0.5) blur(4px);
	color: $text-color;
	padding: 6px;
	font-size: 0.75rem;
	font-weight: 500;
	border-radius: $border-radius-sharp;
	top: 10px;
	z-index: 2910318391839;
}
