/* Credits: https://dribbble.com/shots/14768150/attachments/6472742?mode=media */
$orange: #f15123;
$purple: #5041ab;
$black: #05050a;
$gold: #ffaa1b;
$blue: #06c1ff;
$green: #2d9e64;
$pink: #ff7d7d;
$light-purple: #8a24fe;

// Comment the following variables to use alternative colors
//https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/
$red: rgb(255, 59, 48);
$orange: rgb(255, 149, 0);
$yellow: rgb(255, 204, 0);
$green: rgb(52, 199, 89);
$blue: rgb(50, 173, 230);
$purple: rgb(94, 92, 230);
$pink: rgb(255, 55, 95);

/* Colors */
$background: $black;
$text-color: white;
$button-background: transparent;
$highlight: $purple;
$special-button-background: $highlight; /* Important buttons */
$border-color: transparentize(lighten($special-button-background, 20%), 0.4); /* Main border color */
$special-button-text: white;
$transparent-border: transparentize($text-color, 0.875); /* Border around images and other objects */
$notifications-background: $blue;
$transparent-dark: rgba(126, 126, 126, 0.2);
$grey: rgb(63, 63, 63);
$shadow-color: rgba(0, 0, 0, 0.2);

@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,800;1,900&display=swap");
/* Poppins font, https://fonts.google.com/specimen/Poppins#about */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Other */
$font: "Alegreya Sans", sans-serif; /* Main font */
$button-padding: 12px;
$icon-font: "Material Icons", $font;
$vertical-songs-height: 70px;

$navigation-size: 325px;
$navigation-size-small: 63px;
$navigation-background: $purple;
$navigation-accent: $navigation-background;

/* Borders */
$border-radius: 12px; /* Images */
$border-radius-alt: 12px; /* Buttons and such */
$border-radius-round: 40px;
$border-radius-sharp: 4px;

/* Font sizes */
$text-size-1: 1.1rem;
$text-size-2: 1.08rem;
$heading-size: 2.5rem;
$button-font-size: 1.2rem;
$notifications-size: 16px;

/* Mobile/ smaller font sizes */
$text-size-1-small: 0.9rem;
$text-size-2-small: 0.8rem;
$heading-size-small: 1.9rem;
$button-font-size-smaller: 0.85rem;

/* Sizes */
$album-width: 175px;
$album-height: calc($album-width - 50px);

/* Mobile/ smaller screen sizes */
$album-width-small: 140px;
$album-height-small: calc($album-width-small - 50px);

/* Css Transitions */
$background-transition: 0.2s ease-out;

/* Spinner */
$spinner-size: 40px;
$spinner-thickness: 4px;
