@import "../Styles/Variables.scss";

.vertical-scroller-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	list-style-type: none;

	column-gap: 24px;

	width: 100%;
	overflow: hidden hidden;
	padding: 0px 24px;
}

.album {
	width: $album-width;
	height: fit-content;

	cursor: pointer;
	position: relative;
}

.album-cover,
.album-cover-container {
	width: $album-width;
	height: $album-width;
	object-fit: cover;
	border-radius: $border-radius;
	margin-bottom: 10px;
	border: 1px solid $transparent-border;
}

.album-title {
	height: fit-content;
	font-size: $text-size-1;
	font-weight: 500;
	width: 100%;
	overflow: hidden;

	white-space: nowrap;
	text-overflow: ellipsis;
}

.album-artist {
	height: fit-content;
	font-size: $text-size-2;
	font-weight: 300;
	width: 100%;
	overflow: hidden;
	opacity: 50%;

	white-space: nowrap;
	text-overflow: ellipsis;
}

@media all and (max-width: 756px) {
	.album-artist {
		font-size: $text-size-2-small;
	}
	.album-title {
		font-size: $text-size-1-small;
	}
	.album-cover {
		width: $album-width-small;
		height: calc(230px - $album-height-small);
	}
	.album {
		width: $album-width-small;
		height: fit-content;

		cursor: pointer;
	}
}
