@import "../Styles/Variables.scss";
.songs-container {
	display: flex;
	flex-direction: column;
	padding: calc(24px - $button-padding);
	// max-width: 100%;
	overflow: visible;
	width: 100%;
	height: fit-content;
}
