@import "../Styles/Variables.scss";

.song-container {
	justify-content: auto;
	display: flex;
	align-items: center;

	width: calc(100% - $button-padding * 2);
	height: $vertical-songs-height;
	padding: $button-padding;
	box-sizing: content-box;
	border-radius: $border-radius-alt;
	transition: background $background-transition;
	max-width: 1150px;
	column-gap: 14px;
}

@media (max-width: 900px) {
	.song-index {
		display: none !important;
	}
}

// Fix
.song-div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.song-album {
	text-align: left !important;
	justify-content: flex-start !important;
}

@media (max-width: 600px) {
	.song-like {
		font-size: 18px !important;
	}
	.song-options::before {
		font-size: 18px !important;
	}
	.song-duration {
		display: none !important;
	}
	.song-container {
		// height: calc($vertical-songs-height / 2);
		height: fit-content;
	}
	// .song-title,
	// .song-album,
	// .song-index {
	// 	font-size: $text-size-1-small !important;
	// }
}

.song-container:hover {
	background-color: transparentize($grey, 0.9);
}

.song-index {
	font-size: $text-size-1;
	font-weight: 400;
	opacity: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.song-like {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 40%;
	transition: opacity $background-transition;
	border: none;
	box-shadow: none !important;
	padding: 0;
	height: fit-content;
}

.song-liked {
	animation-name: heart-animation;
	animation-duration: 0.5s;
	opacity: 1 !important;
	position: relative;
}

.song-liked::before {
	position: absolute;
	content: "favorite";
	font-family: $icon-font;
	width: 100%;
	height: 100%;
	color: $special-button-background;
	top: 0;
	left: 0;
	animation-name: heart-inner-animation;
	animation-duration: 0.4s;
}

$size: 100%;
.song-liked::after {
	content: "";
	width: $size;
	height: $size;
	position: absolute;
	background: transparentize($special-button-background, 0.3);
	top: -1px; //calc($size / 2);
	left: 0; //calc($size / 2);
	animation-name: heart-background;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	z-index: -1;
	border-radius: 9999px;
}

@keyframes heart-background {
	from {
		transform: scale(1);
		opacity: 1;
		filter: grayscale(1);
	}
	to {
		transform: scale(2);
		opacity: 0;
	}
}

.song-artist-span {
	margin-left: 4px;
	opacity: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: $text-color;
	text-decoration: none;
}

.song-artist-span:hover {
	text-decoration: underline;
}

@keyframes heart-inner-animation {
	from {
		transform: rotateY(90deg) scale(0);
		opacity: 0;
	}
}

@keyframes heart-animation {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(0.9);
	}
	60% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

.song-title {
	font-size: $text-size-1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-weight: 400;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media (max-width: 768px) {
	.song-title,
	.song-album {
		font-size: $text-size-1-small !important;
	}
	.song-duration {
		font-size: $text-size-2-small !important;
	}
	.song-options {
		font-size: calc($text-size-2-small * 1.5) !important;
	}
}

.song-title span {
	width: 100%;
	flex-shrink: 0;
}

.song-album {
	font-size: $text-size-1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-weight: 400;
	opacity: 40%;
	text-align: right;
	background: transparent;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	width: 100%;
}

.song-duration {
	font-size: $text-size-2;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-family: inherit;
	font-weight: 400;
	white-space: nowrap;
	text-overflow: ellipsis;
	opacity: 30%;
}

.song-options {
	border: none;
	box-shadow: none !important;
	padding: 0;
	height: fit-content;
	width: fit-content;
	transition: opacity $background-transition;
	z-index: 0 !important;
	font-size: calc($text-size-2 * 1.5) !important;
	opacity: 30%;
}

.song-options:hover,
.song-liked:hover {
	opacity: 70%;
}

.song-image {
	height: $vertical-songs-height;
	width: $vertical-songs-height;
	border-radius: calc($border-radius / 2);
	transition: filter $background-transition;
	position: relative;
	z-index: -1;
}

.song-div {
	height: fit-content;
	display: flex;
	align-items: center;
	width: 100%;
	overflow: hidden;
}
