@import "../Styles/Variables.scss";

.song-container {
	display: grid;
	grid-template-columns: $vertical-songs-height 2.426723% 25px 39.3909427% 36.3909427% 03.7958806% 01.9804595%;
	grid-template-rows: 1fr;
	gap: 0px 11px;
	grid-auto-flow: row;
	grid-template-areas: ". . . . . . .";

	width: calc(100% - 16px * 2.25);
	height: $vertical-songs-height;
	padding: $button-padding;
	box-sizing: content-box;
	border-radius: $border-radius-alt;
	transition: background $background-transition;
	max-width: 1150px;
}

@media (max-width: 1110px) {
	.song-container {
		grid-template-columns: $vertical-songs-height 2.426723% 25px 35.3909427% 35.3909427% 03.7958806% 01.9804595%;
	}
}

@media (max-width: 900px) {
	.song-container {
		grid-template-columns: 0px 20px 37.3909427% 37.3909427% 6.7958806% 0.9804595%;
	}
	.song-index {
		font-size: 0 !important;
		height: 0 !important;
		display: none;
	}
	.song-container {
		height: 40px;
	}
	.song-title,
	.song-album,
	.song-duration {
		font-size: $text-size-1-small !important;
	}
	.song-div {
		height: 40px !important;
	}
	.song-like,
	.song-options {
		font-size: $button-font-size-smaller !important;
	}
	.song-image {
		height: 0 !important;
		overflow: hidden;
		display: none;
	}
}

.song-container:hover {
	background-color: transparentize($grey, 0.9);
}

.song-index {
	font-size: $text-size-1;
	font-weight: 400;
	opacity: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.song-like {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 40%;
	transition: opacity $background-transition;
	border: none;
	box-shadow: none !important;
	padding: 0;
	height: fit-content;
	margin: auto 0;
}

.song-liked {
	animation-name: heart-animation;
	animation-duration: 0.5s;
	opacity: 1 !important;
	position: relative;
}

.song-liked::before {
	position: absolute;
	content: "favorite";
	font-family: $icon-font;
	width: 100%;
	height: 100%;
	color: $special-button-background;
	top: 0;
	left: 0;
	animation-name: heart-inner-animation;
	animation-duration: 0.4s;
}

$size: 100%;
.song-liked::after {
	content: "";
	width: $size;
	height: $size;
	position: absolute;
	background: transparentize($special-button-background, 0.3);
	top: -15%; //calc($size / 2);
	left: 0; //calc($size / 2);
	padding-bottom: 6px;
	animation-name: heart-background;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	z-index: -1;
	border-radius: 9999px;
}

@keyframes heart-background {
	from {
		transform: scale(1);
		opacity: 1;
		filter: grayscale(1);
	}
	to {
		transform: scale(2);
		opacity: 0;
	}
}

.song-artist-span {
	margin-left: 6px;
	opacity: 60%;
}

@keyframes heart-inner-animation {
	from {
		transform: rotateY(90deg) scale(0);
		opacity: 0;
	}
}

@keyframes heart-animation {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(0.9);
	}
	60% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

.song-title {
	font-size: $text-size-1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}

.song-album {
	font-size: $text-size-1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-weight: 400;
	opacity: 40%;
	text-align: right;
	background: transparent;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	width: 100%;
}

.song-title::after {
	content: "";
	width: 15px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: linear-gradient($background, transparent);
}

.song-duration {
	font-size: $text-size-1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-family: inherit;
	font-weight: 400;
	white-space: nowrap;
	text-overflow: ellipsis;
	opacity: 30%;
}

.song-options {
	border: none;
	box-shadow: none !important;
	padding: 0;
	height: fit-content;
	width: fit-content;
	margin: auto auto;
	transition: opacity $background-transition;
	z-index: 0 !important;
	opacity: 30%;
}

.song-options:hover,
.song-liked:hover {
	opacity: 70%;
}

.song-image {
	height: $vertical-songs-height;
	width: $vertical-songs-height;
	margin: auto auto;
	border-radius: calc($border-radius / 2);
}

.song-div {
	height: $vertical-songs-height;
	display: flex;
	align-items: center;
	max-width: 100%;
	overflow: hidden;
}
